* {
    padding: 0;
    margin: 0;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /*overflow: hidden;*/
}

body{
    overflow-y:auto;
}

.content-global {
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    transition: all 1s ease;
}

.income-animation {
    opacity: 1;
}

.content-global .aside-left {
    width: 270px;
    font-size: 12px;
    transition: all .6s ease;
    /*min-height: 873px;*/
    height: auto;
}

    .content-global .aside-left .profile-user {
        background: rgb(0, 176, 224);
        padding: 20px 0;
        height: 105px;
        transition: all .6s ease;
        overflow: hidden;        
    }

        .content-global .aside-left .profile-user div {
            display: block;
            width: 100%;
            text-align: center;
        }

        .content-global .aside-left .profile-user .user-img {
            margin-bottom: 8px;
        }

            .content-global .aside-left .profile-user .user-img img {
                width: 50px;
                height: 50px;
                transition: all .6s ease;
            }

        .content-global .aside-left .profile-user .user-info {
            padding: 4px 0;
            color: #fff;
            font-weight: 600;
        }

        .content-global .aside-left .profile-user .user-info-collapse {
            display: none;
        }

    .content-global .aside-left .main-system {
        background: rgb(47, 64, 80);
        color: #a7b1c1;
        /*font-weight: 600;*/
        /*height: 100%;*/
        /*min-height: 873px;*/
        overflow: hidden;

        height:100%;/*100% calc(100vh);  calc(82vh - 2px);*/
        min-height: 573px; /*573px;*/

    }

        .content-global .aside-left .main-system ul {
            list-style: none;
        }

            .content-global .aside-left .main-system ul li div {
                display: flex;
                justify-content: space-between;
            }

            .content-global .aside-left .main-system ul li a {
                display: flex;
                justify-content: flex-start;
                transition: border-left .6s ease;
                padding: 14px 20px;
                text-decoration: none;
                color: #a7b1c1;
            }

                .content-global .aside-left .main-system ul li a span {
                    display: block;
                    /*margin-left: 5px;*/
                    word-wrap: break-word;
                }

                .content-global .aside-left .main-system ul li a .img-collapse {
                    margin-left: 5px;
                    margin-top: 2px;
                    margin-right: 0;
                }

            .content-global .aside-left .main-system ul li .img-arrow {
                display: block;
                float: right;
            }

                .content-global .aside-left .main-system ul li .img-arrow img {
                    transition: all .6s ease;
                    /*width: 12px;*/
                    margin-right: 26px;
                    margin-top: 20px;
                }

                .content-global .aside-left .main-system ul li .img-arrow .rotate {
                    transform: rotate(-90deg);
                }

            .content-global .aside-left .main-system ul .li-first {
                width: 235px;
                transition: background .5s;
            }

            .content-global .aside-left .main-system ul li a .textLi {
                transition: color .6s ease;
            }

            .content-global .aside-left .main-system ul .li-first:hover {
                cursor: pointer;
                background: rgb(41, 56, 70)!important;
            }

            .content-global .aside-left .main-system ul .li-first:hover a {
                color:#fff;
            }

            .content-global .aside-left .main-system ul .li-first:hover img {
                filter: brightness(0) invert(1);
                -webkit-filter: brightness(0) invert(100%);
            }

            .content-global .aside-left .main-system ul li a img {
                margin-right: 10px;
                margin-top: -2px;
            }

            .content-global .aside-left .main-system ul .ul-sec-main li a {
                transition: all .6s ease;
                padding: 0;
                height: 0;
                margin-left: -235px;
                width: 190px;
                background: rgba(0,0,0,.2);
                /*border-left: 3px solid rgb(25, 158, 216);*/
                text-decoration: none;
                color: #a7b1c1;
            }

            .content-global .aside-left .main-system ul .collapse-main {
                position: fixed;
                z-index: 1001;
                left: 65px;
                margin-top: -45px;
                margin-left: 3px;
            }

            .content-global .aside-left .main-system ul .collapse-main li:first-child {
                padding-top: 10px;
                    background-color: rgb(41, 56, 70)!important;
            }
            .content-global .aside-left .main-system ul .collapse-main li {
                
                    background-color: rgb(41, 56, 70)!important;
            }

            .content-global .aside-left .main-system ul .ul-sec-main li a:hover {
                cursor: pointer;
                background: rgb(41, 56, 70);/*rgba(0,0,0,.6);*/
                color:#fff;
            }

            .content-global .aside-left .main-system ul .ul-ter-main li {
                padding: 0px;
                transition: all .6s;
            }

                .content-global .aside-left .main-system ul .ul-ter-main li a {
                    transition: all .6s ease;
                    padding-left: 48px;
                    width: 170px;
                    background: rgb(9, 13, 16);
                    border-left: 3px solid green;
                }

                    .content-global .aside-left .main-system ul .ul-ter-main li a:hover {
                        background: rgb(35, 48, 60);/*rgba(0,0,0,.7)*/;
                    }

            .content-global .aside-left .main-system ul .ul-sec-main li .open-li-sec {
                padding: 4px 14px 10px 32px; /*17px 14px 16.48px 29px;*/
                margin-left: 0px;
                background: rgb(41, 56, 70); /*rgba(0,0,0,.2);*/
                height: 20px;
                line-height: 12px;
            }

            .content-global .aside-left .main-system ul .ul-ter-main li .open-li-ter {
                padding: 6px 16px 6px 50px; /*19px 14px 19px 50px;*/
                margin-left: 0px;
                background: rgb(35, 48, 60); /*rgba(0,0,0,.6);*/
                border-left: 3px solid rgb(25, 158, 216); /*green;*/
                height: 20px;
            }

            .content-global .aside-left .main-system ul .ul-sec-main .img-arrow-sec {
                display: block;
                float: right;
                background: rgb(38, 51, 64);
                cursor:pointer;
            }

                .content-global .aside-left .main-system ul .ul-sec-main .img-arrow-sec img {
                    transition: all .6s ease;
                    display: none;
                    margin-top: -35px;
                    margin-left: -27px;
                    /*position: fixed;*/
                    width: 10px;
                }

                .content-global .aside-left .main-system ul .ul-sec-main .img-arrow-sec .show-img {
                    display: block;
                }

                .content-global .aside-left .main-system ul .ul-sec-main .img-arrow-sec .rotate-sec {
                    transform: rotate(-90deg);
                }

.content-global .aside-content {
    width: 100%;
    background:rgba(242, 242, 242, 1);
}

    .content-global .aside-content .content-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgb(212, 212, 212);
        padding: 10px 0;
        background:#fff;
    }

        .content-global .aside-content .content-top div {
            display: flex;
            justify-content: flex-start;
        }

        .content-global .aside-content .content-top .toogle-main .toogle-main-img {
            background: rgb(0, 176, 224);
            line-height: 25px;
            border-radius: 3px;
            padding: 7px 8px;
            text-align: center;
            margin-left: 10px;
        }

            .content-global .aside-content .content-top .toogle-main .toogle-main-img:hover {
                cursor: pointer;
            }

        .content-global .aside-content .content-top .toogle-main span {
            line-height: 30px;
            margin-left: 10px;
            color: rgb(153, 153, 153);
            font-size: 13px;
            font-weight: 600;
        }

        .content-global .aside-content .content-top .option-main .option-main-block {
            display: flex;
            justify-content: flex-start;
            margin-right: 15px;
        }

            .content-global .aside-content .content-top .option-main .option-main-block img {
                line-height: 25px;
                padding: 7px 8px;
                width: 13px;
                height: 13px;
            }

            .content-global .aside-content .content-top .option-main .option-main-block span {
                line-height: 30px;
                color: rgb(153, 153, 153);
                font-size: 12px;
            }

        .content-global .aside-content .content-top .option-main .right-space {
            margin-left: 25px;
        }

            .content-global .aside-content .content-top .option-main .right-space:hover {
                cursor: pointer;
            }

.content-global .content-bottom {
    background: rgb(255,255,255);
    position: fixed;
    bottom: 0;
    color: white;
    border-top: 1px solid rgb(228, 228, 228);
    width:100%;
    overflow:hidden;
    z-index:10;
}

.content-global .content-bottom span {
        display: inline-flex;/*  inline-block;*/ /*block;*/
        padding: 14px 18px;
        font-size: 12px;
        color: #676A6C;
        z-index:10;
    }

.box {      
  transition: all 6s linear !important;
  display: inline-block !important;
}

.hidden {
  display: none ;
  /*opacity: 0;*/
}


crecer-logo {
 transition: all .8s ease;   
}

    @media only screen and (max-width: 600px) {
    body {
       /* background-color: lightblue;*/
    }

    
 .crecer-logo {      
  transition: all 6s linear !important;
  display: inline-block !important;
}

.user-logo {
  display: none !important;
  /*opacity: 0;*/
}

  .content-global .content-bottom .made {            
    min-width: 120px !important;
    display: block;    
    display: inline-flex;    
    float: none !important;
    }

}
@media only screen and (max-width: 469px) {

}

