@inherits System.Web.Mvc.WebViewPage
@{
    //ViewBag.Title = "Index";
    Layout = "~/Layout/MainWeb.cshtml";
}
<style>
    #page-wrapper {
        padding: 0 15px;
        min-height: 568px;
        color: #676a6c;
        position: relative !important;
    }

    .wrapper {
        padding: 0 20px;
    }

    .wrapper-content {
        padding: 0 15px;
    }

    .skin-alt .aside-content {
        background: #f4f6fa;
    }

    .dashboard-header {
        background: transparent;
        border-bottom: none !important;
        border-top: none;
        padding: 10px 0 15px 0;
    }

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .flot-chart.dashboard-chart {
        display: block;
        height: 250px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .flot-chart-content {
        width: 100%;
        height: 100%;
    }

    .wrapper .table-wrap .grid-data {
        padding: 10px 0px !important;
    }

    .list-group .label {
        font-size: 11px;
    }

    .list-group-item .float-right {
        font-size: 11px;
    }

    .table-wrap .select-number-items {
        padding-left: 0;
    }

    .module-content-pagination .content-number-pagination {
        padding-right: 0;
    }

    .textcontrol {
        color: rgb(103, 106, 108);
        font-size: 12px;
        padding: 6px 4px;
        width: 100%;
        border: 1px solid rgb(154, 154, 154);
        border: 1px solid rgba(228, 228, 228, 1);
        border-radius: 4px;
        outline: none;
        color: rgb(103, 106, 108);
        font-size: 11px;
        margin-bottom: 5px;
        -ms-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
    }
        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            z-index: 2;
            margin-left: -1px;
        }
        .input-group-btn > .btn {
            position: relative;
        }

    .btn-info {
        background-color: #00c0ef;
        border-color: #00acd6;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-height: 29px;
    }

    .ibox-pie {        
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
    }

    .ibox-title {
        padding: 9px 0 5px 15px !important;
        min-height:28px !important;
    }

    .ibox-content {
        padding: 0 !important;
    }

    .ibox-filter {
        padding: 15px 20px 20px 20px;
    }
    .ibox-canvas {
    
    }
    .ibox-canvas-l {
        padding: 0 20px 0 20px;
    }
</style>

<link href="~/Content/Areas/Modules/modules.css" media="all" rel="stylesheet" />
<link href="~/Content/bootsfk.css" rel="stylesheet" />
<script src="~/Scripts/Frameworks/CharJs/Chart.js"></script>

<div id="page-wrapper">
    <div class="wrapper wrapper-content">
        <div class="row dashboard-header">
            <div class="col col-md-2">
                <h3>Bienvenido @Session["Username"]</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/System/chartType.js"></script>
<script src="~/Scripts/Areas/Dashboard/Dashboard.js"></script>*@