<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DomainSispocAD" value="Efitec.lan" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="PathCaucion" value="\\10.10.101.210\public_efitec\SISPOC\ESTRUCTURA_ARCHIVOS" />-->
    <add key="PathCaucion" value="d:" />
    <add key="PathCaucion" value="C:\\Users\\Administrador\\Desktop\\BM" />
    <add key="PathAssurance" value="\GARANTIA" />
    <add key="DomainSigma" value="Efitec.lan\" />
    <add key="DomainPATH" value="LDAP://DC=Efitec.lan,DC=com,DC=pe" />
    <add key="LoginTrue" value="Dashboard/Index" />
    <add key="LoginFalse" value="Home/ErrorSession" />
    <add key="PathLocal" value="http://localhost:3674/" />
    <!--<add key="PathLocal" value="http://10.10.101.159:8098/"/>-->
    <add key="LogLocal" value="C:\RepositorioCrecer\Log" />
    <!--CAUTION-->
    <add key="UrlWSConsultaTerceros" value="http://172.31.7.151:7020/crecer/restAPI/terceros/consultarTerceros" />
    <add key="UrlWSProcesarTerceros" value="http://172.31.7.151:7020/crecer/restAPI/terceros/procesarTercero" />
    <add key="UrlWSProcesarPoliza" value="http://172.31.7.151:7020/crecer/restAPI/polizas/procesarPoliza" />
    <add key="UrlWSProcesarSiniestro" value="http://172.31.7.151:7020/crecer/restAPI/siniestros/procesarSiniestro" />
    <add key="UrlWSAutenticar" value="http://172.31.7.151:7020/crecer/restAPI/usuario/autenticar" />
    <add key="UrlEmisionCoreCrecer" value="http://172.31.7.151:7020/crecer/restAPI/polizaColectiva/iniOperacion" />
    <add key="UrlFinalizaEmisionCore" value="http://172.31.7.151:7020/crecer/restAPI/polizaColectiva/finalizaOperacion" />
    <add key="UrlValidate" value="http://172.31.7.151:7020/crecer/restAPI/polizas/consultarPolizas" />
    <add key="urlCerrar" value="http://172.31.7.151:7020/crecer/restAPI/usuario/cerrarSesion" />
    <add key="UrlSist" value="1" />
    <add key="UrlUser" value="interface.cauciones" />
    <add key="UrlPass" value="Nq&quot;Ko3R4Nl" />
    <!--<add key="UrlUser" value="interface.normativo" />
    <add key="UrlPass" value="Yo-Pv7Z8Tu" />-->
    <add key="TiempoEsperaWSRest" value="20" />
    <!--END CAUTION-->
    <!--FOLDER-->
    <add key="PathGaranita" value="Garantía" />
    <add key="PathSolicitudes" value="Solicitudes" />
    <add key="PathEstFin" value="Estados Financieros" />
    <add key="PathAprPro" value="Aprobación Propuesta" />
    <add key="PathConLeg" value="Conformidad Legal" />
    <add key="FileNameEstFin" value="ESTADO_FINANCIERO_VX0" />
    <add key="FileNameAprPro" value="APROBACION_PROPUESTA_VX0" />
    <add key="FileNameConLeg" value="CONFORMIDAD_LEGAL_VX0" />
    <add key="FileNameAprPro_POL" value="APROBACION_PROPUESTA_POL_VX0" />
    <add key="FileNameConLeg_POL" value="CONFORMIDAD_LEGAL_POL_VX0" />
    <!--END FOLDER-->
    <!--ALERT-->
    <add key="pathImgLogo" value="D:\\efitec\\git\\Sispoc.DEV\\SispocSystem\\Web\\Images\\logo-crecer-azul.png" />
    <!--<add key="AlertMail" value="hsotelo@gmail.com"/>
    <add key="AlertPassword" value="Sebastian2019"/>
    <add key="AlertHost" value="smtp.gmail.com"/>
    <add key="AlertPort" value="587"/>-->
    <add key="AlertMail" value="notificaciones@crecerseguros.pe" />
    <add key="AlertPassword" value="Noti@2019" />
    <add key="AlertHost" value="smtp.office365.com" />
    <add key="AlertPort" value="587" />
    <add key="CodigoAlerta7Dias" value="18" />
    <add key="CodigoAlerta15Dias" value="1" />
    <add key="CodigoAlerta30Dias" value="2" />
    <!--END ALERT-->
  </appSettings>
  <connectionStrings>
    <add name="cnxStringOracle" connectionString="User Id=SISPOC;Password=SISPOC; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.31.7.103)(PORT = 1525)) ) (CONNECT_DATA =  (sid=exactus) ));" />
    <!--<add name="cnxStringOracle" connectionString="User Id=SISPOC;Password=SISPOC; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.31.3.)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME=exactus) ));" />
    <add name="strConexionSQLServer" connectionString="User Id=SIGMA;Password=SIGMA; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10..203)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME=ORCL12C) ));" />-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
