@inherits System.Web.Mvc.WebViewPage
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="~/Images/Layout/icoCrecer.ico" />
    <link href="~/Content/Areas/Security/Loading/loading.css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="~/Scripts/Frameworks/JQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Areas/Security/loading.js"></script>
    <title>SISCOT</title>
</head>
<body>
    <div class="loading-ready"></div>
    <div class="loading-porcent"><span class="counter">0%</span></div>
</body>
</html>    
